*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body,#root{
    height: 100%;
    width: 100%;
}
html{
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
.notes{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.note{
  background-color: rgb(41, 39, 39);
  color: rgb(165, 161, 161);
  max-width: 14rem;
  border-radius: 1rem;
  padding: 1rem;
  
}
